@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

figure { margin: 1em 40px !important; }

.circle {
  display: block;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.circle-on  { background: radial-gradient(circle at 5px 5px, #00FF40, #000); }
.circle-off { background: radial-gradient(circle at 5px 5px, grey, #000); }

thead th {
  padding-top: 14px !important;
  padding-bottom: 8px !important;
  vertical-align: top !important;
}

td { vertical-align: middle !important; }

.gmscores {
   max-width: 1200px;
   margin: auto;"
}

.table-score-container {
  margin-bottom: 8px;

  -webkit-transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  -ms-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;

  max-height: 872px;
  overflow-y: hidden;
}

.limit-height { max-height: 436px; }

.table-score-container .table { margin-bottom: 0; }

.table-score-container th {
  height: 45px;
  max-height: 45px;
}

.table-score-container td {
  height: 39px;
  max-height: 39px;
}

.table-score-container .account-username {
  text-transform: lowercase;
}
